<!DOCTYPE html>
<html lang="en">

<title>Subcounter</title>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css') }}">

    <link rel="stylesheet" type="text/css" href="test.css">
</head>

</style>
</head>
<body>

<ul>
  <li><a  href="/home">Home</a></li>
    <form method = "POST">
  <li><a href="/story" >New Story</a></li>
    </form>
  <li><a href="#contact">Login</a></li>
  <li><a href="#about">Sign-up</a></li>
</ul>

<div style="padding:20px;margin-top:30px;background-color:#6699ff;height:1500px;">
  <h1>Fixed Top Navigation Bar</h1>
  <h2>Scroll this page to see the effect</h2>
  <h2>The navigation bar will stay at the top of the page while scrolling</h2>

</div>

</body>
</html>








</html>