<!DOCTYPE html>
<html lang="en">

<title>Subcounter</title>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css') }}">

    <link rel="stylesheet" type="text/css" href="test.css">
    
</head>

</style>
</head>
<body>

<ul>
  <li><a  href="/home">Home</a></li>
    <form method = "POST">
  <li><a href="/story" >New Story</a></li>
    </form>

  <li><a href="/login">Login</a></li>
  <li><a href="/signup">Sign-up</a></li>
</ul>

<div style="padding:20px;margin-top:30px;background-color:#ff9d00;height:1500px;">
  <h1>Here are your stories :)</h1>
  <table>
    {% for item in items %}
    <tr>
        <td>{{item}}</td>

    </td>
    {% endfor %}
  
  </table>
  <script type="text/javascript"charset="utf-8">
    d3.text("data.csv", function(data) {
        var parsedCSV = d3.csv.parseRows(data);

        var container = d3.select("body")
            .append("table")

            .selectAll("tr")
                .data(parsedCSV).enter()
                .append("tr")

            .selectAll("td")
                .data(function(d) { return d; }).enter()
                .append("td")
                .text(function(d) { return d; });
    });
</script>
</div>

</body>
</html>








</html>