<!DOCTYPE html>
<html lang="en">

<title>Subcounter</title>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css') }}">

    <link rel="stylesheet" type="text/css" href="test.css">
</head>

<ul>
    <li><a  href="/home">Home</a></li>

    <li><a href="/story" >New Story</a></li>

      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign-up</a></li>
  </ul>
  <br>

  <div style="padding:20px;margin-top:30px;background-color:#ff9d00;height:1500px;text-align:center">
    <fieldset>
<form name="story" action="/story20" style="text-align:center" method="POST">


<h1 > Welcome to Story Maker </h1>


<h2 > Enter Title:</h2> 
<textarea  name = "title"> </textarea>

<h2> What types of genres is this story?</h2>
<textarea name="genres"  rows="1"> </textarea>



<label for="birthday"><h2>Date Of Publishing:</h2></label>
<input type="date" id="birthday" name="birthday">

<h2 > Paste Story Text (No word limit):</h2> 

<textarea  rows="10" cols="50" name="story"> </textarea>


<h2 > Enter Writer Name</h2>
<h6>(If you don't want to write it leave as "Anonymous") :</h6>
<textarea rows="1" name="name"> </textarea>

<br>
<br>
<br>
<br>
<input type="submit"   value="submit" class="button" >




</div>

</form>
</fieldset>
</html>